body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
  color: #ffb853;
  background-image: url('image/background.jpg');
  background-size: cover;
  background-repeat: repeat-y;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #01ffff;
  color: black;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container{
  height: 100vh;
  text-align: center;
  padding-top: 30vh;
}

.container h1{
  font-size: 50px;
  font-weight: bold;
}

.button-utama{
  width: 200px;
  height: 100%;
  background-color: #01ffff;
  border: none;
  margin: 0px 10px;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  color: #ffb853;
}

.button-utama:hover{
  transition: 0.5s;
  background-color: #e0ffff;
  color: black;
}

.form{
  background-color: white;
  padding: 50px 20px;
  margin: 0px 30%;
  width: 40%;
}

.paket{
  margin: 20px 0px;
  text-align: left;
}

.input-utama{
  width: 100%;
  padding: 10px 0px;
  border: 1px solid #ffb853;
  margin: 0px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #01ffff;
}

.navbar li {
  float: left;
}

.navbar li a{
  display: block;
  color: #ffb853;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.home{
  padding-top: 0px;
  margin-top: 0px;
  height: 100vh;
  background-repeat: repeat;
}

.konten{
  text-align: left;
  margin: 7% 10%;
}

.konten p, .konten li{
  font-size: 20px;
}

.konten .gambar-hewan{
  float: left;
  margin-right: 50px;
}

.kanan{
  float: right;
}
